<html>
<head>
</head>
<body>
<form action="/add_airplaneAuth" method="POST">
    <label for="id">Plane id:</label><br>
    <input type="text" name = "id" placeholder="required" required/> </br>
    <label for="seats">Number of seats:</label><br>
    <input type="number" name = "seats" placeholder="required" required/> </br>
    <label for="manufacturer">Manufacturer:</label><br>
    <input type="text" name = "manufacturer" placeholder="required" required/> </br>
    <label for="manufacturing_date">Manufacturing date: (e.g. 2001-01-01)</label><br>
    <input type="text" name = "manufacturing_date"/> </br>
    <br><br>
    <input type="submit" value = Register />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/staff_home">Staff Home</a>
</body>
</html>