<!DOCTYPE html>
<html>

<head>

</head>

<body>
      
<label></label><br>
<label></label><br>
<table>
	<th>airline</th>
	<th>flight number</th>
	<th>departure date</th>
	<th>departure_time</th>
{% for line in flights %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['departure_time']}}</td>
        <td>
			<form method="post" action="/cancel_trip/cancel">
				<input type="hidden" name="airline_name" value="{{line['airline_name']}}">
				<input type="hidden" name="flight_number" value="{{line['flight_number']}}">
				<input type="hidden" name="departure_date" value="{{line['departure_date']}}">
				<input type="hidden" name="departure_time" value="{{line['departure_time']}}">
				<button type="submit">Cancel trip</button>
		  	</form>
		</td>
	</tr>
{% endfor %}
</table>
<br><br>
<a href="/customer_home">Back</a>
</body>

</html>
