<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	<label for="email">Email:</label><br>
	<input type="text" name = "email" placeholder="required" required/> </br>
	<label for="customer_password">Password:</label><br>
	<input type="password" name = "customer_password" placeholder="required" required/></br>
	<label></label><br>
	<label for="first_name">First name:</label><br>
	<input type="text" name = "first_name" placeholder="required" required/> </br>
	<label for="last_name">Last_name:</label><br>
	<input type="text" name = "last_name" placeholder="required" required/> </br>
	<label></label><br>
	<label></label><br>
	<label for="phone_number">Phone number: (divide with comma if you have multiple, like "01234,56789")</label><br>
	<input type="text" name = "phone_number" placeholder="at least 1 required" required/> </br>
	<label></label><br>
	<label>Address:</label><br>
	<input type="text" name = "building_name" placeholder="building name"/> </br>
	<input type="text" name = "street_name" placeholder="street name"/> </br>
	<input type="text" name = "apt_number" placeholder="apartment number"/> </br>
	<input type="text" name = "city" placeholder="city"/> </br>
	<input type="text" name = "state" placeholder="state"/> </br>
	<input type="text" name = "zipcode" placeholder="zipcode (required)" required/> </br>
	<label></label><br>
	<label>Passport information:</label><br>
	<input type="text" name = "passport_number" placeholder="passport number"/> </br>
	<input type="text" name = "passport_country"  placeholder="passport country"/> </br>
	<label></label><br>
	<label for="date_of_birth">Date of birth: (e.g. 2001-01-01)</label><br>
	<input type="text" name = "date_of_birth"/> </br>
	<label></label><br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Home</a>
</body>
</html>
