<html>
<head>
</head>
<body>
<form action="/search" method="POST">
    <label>Search by:</label>
    <input type="radio" name="search_type" value="city" checked>City
    <input type="radio" name="search_type" value="airport">Airport
    <br><br>
    <label>Source:</label>
    <input type="text" name="source" required>
    <br><br>
    <label>Destination:</label>
    <input type="text" name="destination" required>
    <br><br>
    <label>Departure Date:</label>
    <input type="text" name="departure_date" required>
    <br><br>
    <label>Return Date:</label>
    <input type="text" name="return_date">
    <br><br>
    <input type="submit" value="Search">
</form>
 

<a href="/">Home</a>

</body>


</html>
