<html>
<head>
</head>
<body>
<form action="/search" method="POST">
    <label>Search by:</label>
    <input type="radio" name="search_type" value="city" checked>City
    <input type="radio" name="search_type" value="airport">Airport
    <br><br>
    <label>Source:</label>
    <input type="text" name="source" required>
    <br><br>
    <label>Destination:</label>
    <input type="text" name="destination" required>
    <br><br>
    <label>Departure Date:</label>
    <input type="text" name="departure_date" required>
    <br><br>
    <label>Return Date:</label>
    <input type="text" name="return_date">
    <br><br>
    <input type="submit" value="Search">
</form>
 
{% if request.headers.get('Referer') == 'http://127.0.0.1:5000/customer_home' %}
<a href="/customer_home">Back</a>
{% elif request.headers.get('Referer') == 'http://127.0.0.1:5000/' %}
<a href="/">Home</a>
{% endif %}

</body>


</html>
