<html>
<head>
</head>
<body>
<form action="/search" method="POST">
    <label>Search by:</label>
    <input type="radio" name="search_type" value="city" checked>City
    <input type="radio" name="search_type" value="airport">Airport
    <br><br>
    <label>Source:</label>
    <input type="text" name="source" required>
    <br><br>
    <label>Destination:</label>
    <input type="text" name="destination" required>
    <br><br>
    <label>Departure Date:</label>
    <input type="text" name="departure_date" required>
    <br><br>
    <label>Return Date:</label>
    <input type="text" name="return_date">
    <br><br>
    <input type="submit" value="Search">
</form>
    
<table>
	<th>airline</th>
	<th>flight number</th>
	<th>departure date</th>
	<th>arrival date</th>
	<th>flight status</th>
{% for line in departs %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['arrival_date']}}</td>
		<td>{{line['flight_status']}}</td>
	</tr>
{% endfor %}
</table>

{% if return_date %}
<th>airline</th>
<th>flight number</th>
<th>departure date</th>
<th>arrival date</th>
<th>flight status</th>
{% for line in returns %}
<tr>
    <td>{{line['airline_name']}}</td>
    <td>{{line['flight_number']}}</td>
    <td>{{line['departure_date']}}</td>
    <td>{{line['arrival_date']}}</td>
    <td>{{line['flight_status']}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<a href="/">Home</a>

</body>


</html>
