<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<label><strong>Welcome to the airline ticket system</strong></label><br>
{% if not message %}
	<label></label><br>
	<a href="/flight_search">flight search</a>
	<label></label><br>
	<label></label><br>
	<a href="/customer_login">customer login</a>
	<label></label><br>
	<label></label><br>
	<a href="/customer_register">customer register</a>
	<label></label><br>
	<label></label><br>
	<a href="/staff_login">staff login</a>
	<label></label><br>
	<label></label><br>
	<a href="/staff_register">staff register</a>
{% endif %}

<label></label><br>
<label></label><br>
<label>Flight status: </label><br>
<table>
	<th>airline</th>
	<th>flight number</th>
	<th>departure date</th>
	<th>arrival date</th>
	<th>flight status</th>
{% for line in flights %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['arrival_date']}}</td>
		<td>{{line['flight_status']}}</td>
	</tr>
{% endfor %}
</table>

</body>

</html>
