<html>
<head>
</head>
<body>
<body>
{% if not message %}
	<h1>Welcome {{username}}</h1>
	<br><br>
	<a href="/view_flights_staff">View flights</a>
	<br><br>
	<a href="/create_new_flights">Create new flight</a>
	<br><br>
	<a href="/change_flight_status">Change flight status</a>
	<br><br>
	<a href="/add_airplane">Add airplane in the system</a>
	<br><br>
	<a href="/add_airport">Add new airport in the system</a>
	<br><br>
	<a href="/view_ratings">View flight ratings</a>
	<br><br>
	<a href="/view_frequent_customer">View frequent customer</a>
	<br><br>
	<a href="/view_reports">View reports</a>
	<br><br>
	<a href="/view_earned_revenue">View earned revenue</a>
{% endif %}
<br><br>
<a href="/logout_staff">Logout</a>
</body>


</html>
