<html>
<head>
</head>
<body>
    <form action="/registerAuth" method="POST">
        <label for="first_name">First name:</label><br>
        <input type="text" name = "first_name" placeholder="required" required/> </br>
        <label for="last_name">Last_name:</label><br>
        <input type="text" name = "last_name" placeholder="required" required/> </br>
        <label for="date_of_birth">Date of birth: (e.g. 2001-01-01)</label><br>
        <input type="text" name = "date_of_birth"/> </br>
        
        <label></label><br>
        <input type="submit" value = Register />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>

</body>


</html>
