<html>
<head>
</head>
<body>
<label><strong>Available airports:</strong> </label><br><br>
<table>
    <th>Airport Code</th>
    <th>Name</th>
    <th>city</th>
    <th>Country</th>
    <th>Type</th>
{% for line in airports %}
    <tr>
        <td>{{line['airport_code']}}</td>
        <td>{{line['name']}}</td>
        <td>{{line['city']}}</td>
        <td>{{line['country']}}</td>
        <td>{{line['type']}}</td>
    </tr>
{% endfor %}
</table>
<br><br>
<a href="/staff_home">Staff Home</a>
</body>
</html>